<ion-header>
  <ion-toolbar>
    <ion-title>Stock Movements</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="scan()"> <!--[disabled]="!isSupported"-->
        <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchBarFilter" animated="true"  placeholder="Product Name, Manufacturer"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="false">
    <ion-item>
      <ion-label style="font-weight: bold">Item</ion-label>
      <ion-note slot="end" style="font-weight: bold; color: black">Date Time</ion-note>
    </ion-item>
  </ion-list>
  <ion-list [inset]="false">
    <ion-item *ngFor="let stockMovement of stockMovements$ | async | stockfilter:searchBarFilter" [button]="true" detail-icon="">
      <ion-icon [color]="displayColor(stockMovement)" slot="start" [name]="displayIcon(stockMovement)" size="large"></ion-icon>
      <ion-label>{{stockMovement.productName}} ({{displayQty(stockMovement)}})</ion-label>
      <ion-note slot="end">{{stockMovement.movementDateTime}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
