<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="chevron-back"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label>Confirm</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Item Scan</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img [alt]="productDTO?.name" [src]="productDTO?.picture"/>
    <ion-card-header>
      <ion-card-title>{{ productDTO?.manufacturer }}</ion-card-title>
      <ion-card-subtitle>{{ productDTO?.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>{{ productDTO?.description }}</ion-text>
    </ion-card-content>

  </ion-card>



  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>{{productDTO?.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Done</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input labelPlacement="floating" type="number" placeholder="ex: -1 or +1" [(ngModel)]="quantity">
            <div slot="label"><ion-text>Quantity to add/subtract (ex: -1, +1)</ion-text></div>
          </ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
