<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="chevron-back"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Magic Mouse
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [alt]="productDTO?.name" [src]="productDTO?.picture"/>
    <ion-card-header>
      <ion-card-title>{{productDTO?.manufacturer}}</ion-card-title>
      <ion-card-subtitle>{{productDTO?.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-segment [(ngModel)]="segmentType" value="stock">
        <ion-segment-button value="stock">
          <ion-label>Stock</ion-label>
        </ion-segment-button>
        <ion-segment-button value="description">
          <ion-label>Description</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segmentType" style="margin-top: 30px">

        <div *ngSwitchCase="'description'">
          <ion-text>{{productDTO?.description}}</ion-text>
        </div>

        <div *ngSwitchCase="'stock'">
          <ion-text>Available quantity: {{stockItemDTO?.onShelfQuantity}}</ion-text>
        </div>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
