<ion-header>
  <ion-toolbar>
    <ion-title>Stock</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchBarFilter" animated="true" placeholder="Product Name, Manufacturer"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="false">
    <ion-item>
      <ion-label style="font-weight: bold">Item</ion-label>
      <ion-note slot="end" style="font-weight: bold; color: black">Quantity</ion-note>
    </ion-item>
  </ion-list>
  <ion-list [inset]="false">
    <ion-item *ngFor="let stockItem of stockItems$ | async | stockfilter:searchBarFilter" [button]="true" detail="false" [routerLink]="['..', 'stock-items',stockItem.productCode]">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>{{stockItem.manufacturer}}</strong>
        <ion-text>{{stockItem.productName}}</ion-text>
        <br/>
        <ion-note color="medium" class="ion-text-wrap">
          {{stockItem.productDescription}}
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">{{stockItem.onShelfQuantity}}</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
