<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stock-items" href="/home/stock-items">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Stock Items</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock-movements" href="/home/stock-movements">
      <ion-icon aria-hidden="true" name="trending-up"></ion-icon>
      <ion-label>Stock Movements</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
